@import 'weplay-core/styles/_initialization.scss';
@import 'weplay-core/styles/v-2-0/_init.scss';

.block {
  position: relative;
}

.title {
  @include make-spacer(mb, 0);
  @include font-size(24px, 32px);

  color: var(--royal-blue);
  font-weight: var(--wp-font-weight-bold);
}

.description {
  @include make-spacer(mt, 4);
  @include make-spacer(mb, 0);
  @include font-size(16px, 24px);

  color: var(--grey-500);
  font-weight: var(--wp-font-weight-normal);
}
