@import 'weplay-core/styles/_initialization.scss';

.tooltip {
  @include flex(center, center);
  @include make-spacer(px, 3);
  @include make-spacer(px, 4, lg);
  @include make-spacer(py, 1);
  @include font-size(16px, 24px);
  @include transition(#{opacity, visibility, transform});

  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -8px);
  visibility: hidden;
  opacity: 0;
  z-index: 30;
  border-radius: 8px;
  background-color: var(--success);
  white-space: nowrap;
  color: var(--white);
  font-weight: var(--wp-font-weight-normal);
  pointer-events: none;

  @include media-breakpoint-only(md) {
    @include font-size(12px, 24px);
  }

  &Icon {
    @include make-spacer(mr, 1);

    color: var(--white);
  }
}

.copyBtn {
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;

  &.isActive {

    .tooltip {
      transform: translate(-50%, 0);
      visibility: visible;
      opacity: 1;
    }
  }
}
