@import 'weplay-core/styles/_initialization.scss';

.block {
  @include flex($align-items: flex-start);

  &.light {

    .successTitle {
      color: var(--white);
    }
  }
}

.iconWrap {
  @include flex(center, center);
  @include size(rem(40px));
  @include font-size(14px, 40px);

  flex-shrink: 0;
  border-radius: 50%;
  background-color: var(--magenta);
  text-align: center;
  color: var(--white);
}

.icon {
  z-index: 2;
  color: var(--white);
}

.successBlock {
  @include make-spacer(pl, 2);
}

.successTitle {
  @include make-spacer(mb, 0);
  @include make-spacer(mb, half, sm);
  @include font-size(18px, 24px);

  font-weight: 700;
}

.successDescription {
  @include make-spacer(mb, 0);
  @include font-size(12px, 16px);

  color: var(--grey-500);
}
