@import 'weplay-core/styles/_initialization.scss';

.image {
  position: absolute;
  right: rem(-362px);
  bottom: rem(-405px);
  height: rem(810px);

  @include media-breakpoint-up(md) {
    top: rem(16px);
    right: auto;
    bottom: auto;
    left: rem(-362px);
    animation-name: right-rotation;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }

  @include media-breakpoint-up(lg) {
    left: rem(-163px);
  }

  &.rightImage {
    left: auto;

    @include media-breakpoint-up(md) {
      right: rem(-362px);
      animation-name: right-rotation;
    }

    @include media-breakpoint-up(lg) {
      right: rem(-163px);
    }
  }
}

.crystalBall {
  top: auto;
  bottom: rem(-164px);
  left: 50%;
  transform: rotate(90deg);
  z-index: 2;
  margin-left: rem(-115px);
  height: rem(322px);

  @include media-breakpoint-up(sm) {
    bottom: rem(-348px);
    margin-left: rem(-230px);
    height: rem(644px);
  }

  @include media-breakpoint-up(md) {
    top: 50%;
    bottom: auto;
    left: rem(-228px);
    margin-top: rem(-290px);
    margin-left: 0;
  }

  @include media-breakpoint-up(lg) {
    left: rem(-289px);
    margin-top: rem(-405px);
    height: rem(810px);
  }

  &.rightImage {
    left: 50%;

    @include media-breakpoint-up(md) {
      right: rem(-228px);
      left: auto;
    }

    @include media-breakpoint-up(lg) {
      right: rem(-289px);

    }
  }
}

@keyframes right-rotation {

  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(2deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes left-rotation {

  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-2deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
