@import 'weplay-core/styles/_initialization.scss';

.winner {
  --winner-avatar-width: #{rem(48px)};

  @include flex(center, center, column);
  @include make-spacer(mx, auto);

  position: relative;

  @include media-breakpoint-up(sm) {
    --winner-avatar-width: #{rem(64px)};
  }
}

.descriptionBlock {
  @include flex(center, flex-start, column);
}

.label {
  @include font-size(12px, 16px);
  @include make-spacer(mb, 0);
  @include flex(flex-start, center, row);

  text-align: left;
  color: var(--white);
}

.wrap {
  @include flex(center, $wrap: wrap);
  @include make-spacer(pt, 6, sm);
}

.imageWrap {
  @include size(var(--winner-avatar-width));
  @include make-spacer(mr, 2);

  position: relative;
  border-radius: 50%;
  padding: 2px;
  overflow: hidden;

  &::before {
    --start-color: var(--blue);
    --end-color: var(--blue-active);

    @include size(100%);
    @include gradient-x(#{var(--start-color)}, #{var(--end-color)});

    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    content: '';
  }

  &.radiant {

    &::before {
      --start-color: var(--blue);
      --end-color: var(--success);
    }
  }
}

.figure {
  @include flex(center, center);
  @include make-spacer(mb, 0);
  @include size(100%);

  position: relative;
  z-index: 2;
  border-radius: 50%;
  background-color: var(--white);
  overflow: hidden;
}

.picture {
  display: block;
  max-width: 100%;
  height: auto;
}

.name {
  @include make-spacer(mb, 0);
  @include font-size(16px, 24px);

  display: inline-block;
  position: relative;
  z-index: 2;
  border-radius: 20px;
  text-align: center;
  color: var(--white);
  font-weight: 500;

  @include media-breakpoint-up(sm) {
    @include font-size(22px, 32px);
  }
}

.plus {
  @include make-spacer(px, 1);

  display: inline-block;
}

.icon {
  @include font-size(22px, 14px);

  display: inline-block;
  fill: var(--white);
}

.winnerContainer {
  @include flex(flex-start, center);
  @include make-spacer(px, 2);
  @include make-spacer(pb, 2);
}

.buttonContainer {
  width: 100%;
  text-align: center;
}

.showButton {
  @include font-size(12px, 16px);
  @include make-spacer(pt, 1);
  @include make-spacer(px, 0);

  position: relative;
  z-index: 10;
  border: 0;
  box-shadow: none;
  background-color: transparent;
  text-align: left;
  color: var(--blue);

  &:hover {
    text-decoration: underline;
  }
}

.dire {

  .wrap {
    @include flex(flex-start, $wrap: wrap, $direction: column);

    @include media-breakpoint-up(sm) {
      @include flex(center, $wrap: wrap, $direction: row);
    }
  }
}

.votingMVP {

  .wrap {
    @include flex($direction: column);
    @include make-spacer(pt, 2);
    @include make-spacer(pt, 0, sm);

    @include media-breakpoint-up(sm) {
      @include flex($direction: row);
    }
  }
}

.forgeOfMastersLeagueSecondSeason {

  .wrap {
    @include make-spacer(pt, 0);
    @include flex(center, $direction: column, $wrap: wrap);

    @include media-breakpoint-up(sm) {
      flex-direction: row;
    }
  }
}
