@import 'weplay-core/styles/_initialization.scss';
@import 'weplay-core/styles/v-2-0/_init.scss';

.cards {
  @include reset-list;

  @include media-breakpoint-up(md) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  @include flex(flex-start, center, column);
  @include make-spacer(pb, 8, sm);

  &:not( :last-child ) {
    @include make-spacer(pb, 6);
    @include make-spacer(mb, 6);
    @include make-spacer(mb, 0, md);

    border-bottom: 1px solid var(--grey-200);
  }

  @include media-breakpoint-up(md) {

    &:not( :last-child ) {
      border-right: 1px solid var(--grey-200);
      border-bottom: 0;
    }
  }
}

.title {
  @include font-size(20px, 28px);
  @include make-spacer(mb, 1);
}

.text {
  @include font-size(12px, 18px);
  @include make-spacer(mb, 3);

  color: var(--grey-500);
}

.link {
  @include font-size(12px, 18px);
}

.image {
  @include make-spacer(mb, 3);
  @include size(rem(120px));

  border-radius: 50%;

  @include media-breakpoint-up(sm) {
    @include size(rem(160px));
  }
}
