@import 'weplay-core/styles/_initialization.scss';

.bottom {
  @include flex(flex-start, flex-start, column);
  @include make-spacer(pt, 3);

  border-top: 1px solid var(--grey-300);

  @include media-breakpoint-up(sm) {
    flex-direction: row;
  }
}

.left {
  @include make-spacer(mb, 2);
  @include make-spacer(mb, 0, sm);
  @include make-spacer(mr, 2, sm);
}

.button {
  width: 100%;

  @include media-breakpoint-up(sm) {
    width: auto;
  }
}

.content {
  height: 13.5rem;
}

.list {
  @include reset-list();
}
