@import 'weplay-core/styles/_initialization.scss';

.block {
  @include font-size(18px, 32px);

  color: var(--grey-500);
}

.button {
  display: inline-block;
  vertical-align: baseline;
  text-decoration: underline;
  line-height: inherit;
  font-size: inherit;
  font-weight: 500;

  &:hover {
    background-color: transparent;
    text-decoration: none;
    color: var(--blue);
  }
}
