@import 'weplay-core/styles/_initialization.scss';

.block {
  @include make-spacer(mb, 0);
}

.caption {
  @include make-spacer(py, 2);
  @include flex;

  border-bottom: 1px solid var(--grey-200);
  color: var(--grey-400);
}

.icon {
  @include make-spacer(mr, 1);

  align-items: flex-start;
}

.text {
  @include font-size(12px, 16px);
  @include flex(flex-start, center);
}
