//
// Project Colors
//

$white: #fff;
$grey-200: #e1e6f0;
$grey-300: #c1cde6;
$grey-500: #63708a;
$black: #000;
$royal-blue: #010e28;
$blue: #3bbbe9;
$blue-active: #102b9e;
$magenta: #ff1967;
$success: #28c772;
$error: #e30e2c;
$warning: #ff9f21;
$premium: #c6973a;

//
// Social color
//

$twitter: #00aced;
$telegram: #08c;
$facebook: #4267b2;
$twitch: #6441a4;
$linkedin: #0077b5;
$vk: #4c75a3;
$hltv: #486ea1;
$discord: #7289da;
$faceit: #f50;
$instagram: #e1306c;
$youtube: #f00;
$google: #518ef8;
