@import 'weplay-core/styles/_initialization.scss';

.wrapper {
  @include make-spacer(mb, 2);
  @include make-spacer(px, 2);
  @include make-spacer(pt, 3);
  @include make-spacer(pb, 2);
  @include make-spacer(px, 4, sm);
  @include make-spacer(pt, 3, sm);
  @include make-spacer(pb, 3, sm);
  @include make-spacer(pt, 4, md);
  @include make-spacer(px, 5, lg);
  @include make-spacer(pt, 5, lg);

  border-radius: 8px;
  background: var(--white);
}

.list {
  @include reset-list;

  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 2rem;
  grid-column-gap: 1rem;

  @include media-breakpoint-up(sm) {
    grid-template-columns: 1fr 1fr;
  }

  @include media-breakpoint-up(md) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include media-breakpoint-up(lg) {
    grid-gap: 2rem;
  }
}

.link {
  @include make-spacer(mt, 2);
  @include font-size(14px, 24px);

  display: inline-block;
  text-align: center;
  font-weight: 500;

  @include media-breakpoint-up(sm) {
    @include font-size(16px, 24px);
  }
}


