@import 'weplay-core/styles/_initialization.scss';
@import 'weplay-core/styles/v-2-0/_init.scss';

.block {
  width: 100%;
}

.button {
  @include font-size(12px, 16px);
  @include make-spacer(py, 3);
  @include make-spacer(px, 0);

  position: relative;
  z-index: 10;
  border: 0;
  background-color: transparent;
  color: var(--blue);

  &:hover {
    text-decoration: underline;
  }
}

.container {
  @include flex(center, center, column);
  @include make-spacer(px, 3);
  @include make-spacer(px, 5, sm);
  @include make-spacer(px, 0, md);
  @include make-spacer(mx, auto);

  position: relative;
  width: 100%;
}

.winners {
  @include make-spacer(pt, 7);
  @include make-spacer(pb, 2);
  @include make-spacer(pb, 4, md);

  position: relative;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.icon {
  @include size(16px);

  @include media-breakpoint-up(sm) {
    @include size(32px);
  }
}
