@import 'weplay-core/styles/_initialization.scss';

.image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.right {
  @include media-breakpoint-up(md) {
    object-position: right;
  }
}
