@import 'weplay-core/styles/_initialization.scss';

.button {
  @include make-spacer(mb, 2);
  @include make-spacer(mb, 0, sm);
  @include make-spacer(mx, 1, sm);
  @include make-spacer(mx, 2, md);
  @include make-spacer(py, 2);
  @include make-spacer(px, 2);
  @include font-size(20px, 20px);
  @include transition(background-color);

  border: 2px solid var(--warning);
  border-radius: 2px;
  background-color: transparent;
  cursor: pointer;
  min-width: rem(240px);
  font-weight: 500;

  &:last-child {
    @include make-spacer(mb, 0);
  }

  &.isActive {
    background-color: var(--warning);
    cursor: default;
    pointer-events: none;
    user-select: none;

    .buttonIcon {
      transform: rotate(0);
    }
  }
}
