@import 'weplay-core/styles/_initialization.scss';

.image {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.link {
  @include flex(center, center);

  width: 100%;
  height: 100%;
}

.item {
  @include make-spacer(p, 2);

  border: 1px solid var(--grey-300);
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px var(--royal-blue-alpha-016);
  background-color: var(--white);
  height: rem(96px);
}
