@import 'weplay-core/styles/_initialization.scss';

.block {
  @include reset-list;
  @include flex($wrap: wrap);

  margin-left: rem(-4px);

  &.isReverse {
    flex-direction: row-reverse;
    justify-content: flex-start;
    margin-right: rem(-4px);
  }

  &.isServer {
    justify-content: center;
  }
}

.item {
  @include make-spacer(mb, 1);
  @include make-spacer(mx, half);
}

.title {
  @include word-break;
  @include font-size(12px);
  @include make-spacer(mb, 1);

  color: var(--white);
}
