@import 'weplay-core/styles/_initialization.scss';
@import 'weplay-core/styles/v-2-0/_init.scss';

.block {
  @include size(100%);
  @include box-shadow(0 16px 32px var(--black-alpha-024));

  z-index: 101;
  background-color: var(--white);
  overflow: hidden;

  @include media-breakpoint-only(xs) {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  @include media-breakpoint-up(sm) {
    @include size(rem(560px), auto);

    position: relative;
  }
}

.text {
  @include flex;
  @include make-spacer(py, 6);
  @include make-spacer(px, 2);
  @include make-spacer(px, 3, sm);

  text-align: center;
}
