@import 'weplay-core/styles/_initialization.scss';

.block {
  @include make-spacer(mb, 3);
  @include make-spacer(px, 2);
  @include make-spacer(py, 1);

  border: 1px solid var(--grey-200);
  border-radius: rem(8px);
  width: 100%;

  @include media-breakpoint-up(md) {
    @include make-spacer(mb, 0);

    grid-area: 1 / 2 / 1 / 2;
    max-width: rem(267px);
  }
}

.header {
  @include make-spacer(py, 2);
  @include make-spacer(mb, 2);

  border-bottom: 1px solid var(--grey-200);
}

.title {
  @include font-size(24px, 30px);
  @include make-spacer(mb, 0);

  font-weight: 700;
}

.section {

  &:last-child {
    @include make-spacer(mb, 1);
  }
}

.wrapper {
  @include flex(space-between, center);
  @include make-spacer(pb, 2);
}

.divider {
  @include make-spacer(mb, 2);

  background-color: var(--grey-200);
  height: rem(1px);
}

.unsubscribePremium {
  line-height: normal;
  color: var(--grey-500);
  font-weight: var(--wp-font-weight-normal);

  &:hover {
    background-color: transparent;
    text-decoration: underline;
    color: var(--blue);
  }
}

.primaryText {
  @include font-size(14px, 21px);

  color: var(--blue);
  font-weight: 700;
}

.commonText {
  @include font-size(14px, 21px);

  font-weight: 700;
}

.tip {
  @include font-size(14px, 21px);

  color: var(--grey-500);
}

.name {
  @include make-spacer(mr, 1);

  display: inline-block;
  max-width: rem(128px);
}

.amount {
  display: inline-block;
}

.linksList {
  @include reset-list;
}

.linksItem {
  @include flex(flex-start, center);
  @include make-spacer(mb, 2);

  color: var(--blue);
}

.link {
  @include font-size(12px, 18px);
  @include make-spacer(ml, 1);
}

.buttonLink {
  @extend %buttonLink;

  @include font-size(12px, 18px);
  @include make-spacer(ml, 1);
}
