@import 'weplay-core/styles/_initialization.scss';

.td {
  @include make-spacer(p, 2);
  @include font-size(16px, 24px);

  vertical-align: top;
  text-align: right;

  &:first-child {
    border-right: 1px solid var(--grey-300);
    text-align: left;

    @include media-breakpoint-up(md) {
      border-right: 0;
    }
  }
}

.mapList {
  @include reset-list;

  width: 19rem;
  text-align: left;
  white-space: normal;
}

.mapItem {
  display: inline-block;
  position: relative;
  vertical-align: top;

  &:not( :first-child ) {
    @include make-spacer(pl, 2);

    &::before {
      @include make-spacer(mx, half);

      position: absolute;
      top: 0;
      left: rem(2px);
      content: '•';
    }
  }
}

.subText {
  @include font-size(12px, 16px);
  @include make-spacer(mb, 0);

  color: var(--grey-500);
}

.join {
  display: block;
  text-decoration: underline;
  white-space: nowrap;
  color: var(--success);

  &:hover {
    text-decoration: none;
  }
}
