@import 'weplay-core/styles/_initialization.scss';
@import 'weplay-core/styles/v-2-0/_init.scss';

// $tm - tournament module

$one-pixel: rem(1px);

// Match

$match-padding-x: rem(16px);
$match-meta-height: rem(24px);
$match-separator-width: 100%;

// =========================================
