@import 'weplay-core/styles/_initialization.scss';

.block {
  @include make-spacer(mr, 2);

  &:last-child {
    @include make-spacer(mr, 0);
  }
}

.text {
  @include make-spacer(mr, 2);
}

.link {
  @include font-size(16px, 32px);

  display: inline-block;
  color: var(--blue);
  font-weight: 500;

  @include media-breakpoint-up(sm) {
    @include font-size(16px, 24px);
  }
}
