//
// Project Typography
//

:root {
  --wp-font-family: 'Rubik', 'Helvetica', 'Arial', sans-serif;
  --wp-line-height: 1.5;
  --wp-font-weight-normal: 400;
  --wp-font-weight-bold: 700;
  --wp-font-weight-regular: 500;
}
