@import 'weplay-core/styles/_initialization.scss';

.content {
  @include make-spacer(p, 2);
  @include make-spacer(pt, 6);
  @include make-spacer(pb, 6);
  @include make-spacer(p, 6, sm);

  width: 100%;
}

.title {
  @include make-spacer(mb, 2);
  @include font-size(24px, 32px);

  color: var(--white);
  font-weight: var(--wp-font-weight-bold);
}

.hint {
  @include make-spacer(mt, 3);
  @include make-spacer(mb, 0);
  @include font-size(12px, 18px);

  color: var(--grey-300);
}

.grid {
  display: grid;
  grid-template-rows: auto auto;
  grid-row-gap: rem(8px);
  align-items: center;
}

.row {
  display: grid;
  grid-template-columns: rem(96px) auto rem(96px);
}

.divider {
  @include font-size(20px, 28px);

  align-self: center;
  justify-self: center;
  color: var(--grey-500);
  font-weight: var(--wp-font-weight-bold);
}

.accept {
  @include make-spacer(mr, 0);
  @include make-spacer(mb, 2);
  @include make-spacer(mr, 2, sm);

  width: 100%;

  @include media-breakpoint-up(sm) {
    width: auto;
  }
}

.decline {
  @include make-spacer(mb, 2, sm);

  width: 100%;

  @include media-breakpoint-up(sm) {
    width: auto;
  }
}

.footer {
  @include make-spacer(mt, 5);
}
