@import 'weplay-core/styles/_initialization.scss';

.block {
  @include size(100%, auto);

  position: relative;
}

.transitionBlock {
  @include size(100%);
  @include make-spacer(p, 2);
  @include flex(center, center, column);
  @include gradient-y(var(--royal-blue-alpha-09) 1.45%, #{var(--royal-blue) 75.8%});

  transform: scale(0.9);
  opacity: 0;
  min-height: rem(310px);

  @include media-breakpoint-up(sm) {
    min-height: rem(550px);
  }

  &.visible {
    transform: scale(1);
    transition: 300ms 200ms ease-in;
    opacity: 1;
  }
}

.contentFlex {
  @include flex(center, center, column);

  flex-grow: 1;
}

.content {
  width: 100%;
}

.buttonWrapper {
  @include flex(center, center, column);
  @include make-spacer(mb, 0);
  @include make-spacer(mb, 3, sm);

  width: 100%;

  @include media-breakpoint-up(sm) {
    @include flex(center, center, row);
  }
}

.button {
  @include make-spacer(mb, 2);
  @include make-spacer(mb, 0, sm);

  width: 100%;

  @include media-breakpoint-up(sm) {
    width: auto;
  }
}

.restart {
  text-transform: uppercase;
  font-weight: var(--wp-font-weight-normal);
}

.leftButton {
  @include make-spacer(mr, 3, sm);
}

.rightButton {
  @include make-spacer(ml, 3, sm);
}

.wrap {
  @include flex($direction: column-reverse);

  @include media-breakpoint-up(sm) {
    flex-direction: column;
  }
}

.title {
  @include font-size(24px, 32px);
  @include make-spacer(mt, 3);
  @include make-spacer(mt, 5, sm);
  @include make-spacer(mb, 2);
  @include make-spacer(mb, 1, sm);

  text-align: center;
  font-weight: 700;

  @include media-breakpoint-up(sm) {
    @include font-size(32px, 40px);
  }
}

.text {
  @include font-size(14px, 22px);
  @include make-spacer(mb, 2);
  @include make-spacer(mb, 3, sm);

  text-align: center;
  font-weight: var(--wp-font-weight-normal);

  @include media-breakpoint-up(sm) {
    @include font-size(16px, 24px);

    font-weight: var(--wp-font-weight-regular);
  }
}

.footer {
  display: none;
  width: 100%;

  @include media-breakpoint-up(sm) {
    @include flex(space-between, center);
  }
}

.langSelector {
  @include make-spacer(pt, 2);

  display: block;
}

.hint {
  @include make-spacer(p, 1);
  @include font-size(16px, 24px);

  text-align: center;
}

.muteText {
  @include font-size(16px, 24px);
  @include make-spacer(mb, 3);

  color: var(--grey-500);
}

.infoWrap {
  @include make-spacer(mb, 6);
}

.imageWrap {
  @include flex(flex-start, center, column);

  position: relative;
  top: rem(24px);
  width: 100%;
}

.background {
  @include size(100%, auto);
}
