@import 'weplay-core/styles/_initialization.scss';

.body {
  @include make-spacer(py, 4);
}

.container {
  @include make-spacer(mb, 0);
  @include make-spacer(px, 3);
  @include make-spacer(px, 5, sm);
  @include make-spacer(px, 0, md);
  @include make-spacer(mx, auto);

  border-bottom: 0;
  width: 100%;
  max-width: rem(1072px);

  h2 {
    @include make-spacer(mt, 4);
    @include make-spacer(mb, 2);
    @include font-size(16px, 24px);

    font-weight: 700;

    @include media-breakpoint-up(sm) {
      @include font-size(32px, 40px);
    }
  }

  p {
    @include font-size(14px, 24px);
    @include make-spacer(my, 2);

    font-weight: 400;

    @include media-breakpoint-up(sm) {
      @include font-size(16px, 32px);
    }
  }

  ol {
    @include reset-list;
    @include make-spacer(my, 2);

    counter-reset: item;

    > li {
      @include font-size(14px, 24px);
      @include make-spacer(mb, 2);
      @include make-spacer(pl, 4);

      position: relative;
      counter-increment: item;

      &::before {
        position: absolute;
        top: rem(2px);
        left: 0;
        min-width: rem(24px);
        height: rem(24px);
        text-align: center;
        white-space: nowrap;
        color: var(--blue);
        font-size: 0.875rem;
        font-weight: 500;
        content: counters(item, '.') '.';

        @include media-breakpoint-up(sm) {
          left: rem(-4px);
        }
      }

      &:last-child {
        @include make-spacer(mb, 0);
      }

      & > ol > li > ol > li { // stylelint-disable-line
        @include make-spacer(pl, 6);

        & > ol > li { // stylelint-disable-line
          @include make-spacer(pl, 7);

          & > ol > li { // stylelint-disable-line
            @include make-spacer(pl, 8);
          }
        }
      }

      @include media-breakpoint-up(sm) {
        @include font-size(16px, 32px);
      }
    }
  }

  ul {
    @include reset-list;
    @include make-spacer(my, 2);

    li {
      @include make-spacer(mb, 2);
      @include make-spacer(pl, 3);
      @include make-spacer(pl, 4, sm);
      @include font-size(14px, 24px); // stylelint-disable-line

      position: relative;
      font-weight: 400;

      &::before {
        @include size(rem(6px));

        position: absolute;
        top: rem(8px);
        left: rem(6px);
        border-radius: 50%;
        background-color: var(--blue);
        content: '';

        @include media-breakpoint-up(sm) {
          top: rem(12px);
          left: rem(8px);
        }
      }

      &:last-child {
        @include make-spacer(mb, 0);
      }

      @include media-breakpoint-up(sm) {
        @include font-size(16px, 32px);
      }
    }
  }

  strong {
    font-weight: 500;
  }

  img {
    @include size(auto);

    display: block;
    max-width: 100%;
  }

  @include media-breakpoint-up(md) {
    max-width: rem(848px);
  }

  @include media-breakpoint-up(lg) {
    max-width: rem(1120px);
  }
}
