@import 'weplay-core/styles/_initialization.scss';
@import 'weplay-core/styles/v-2-0/_init.scss';

.block {
  position: relative;

  @include media-breakpoint-up(md) {
    display: grid;
    grid-template-columns: minmax(0, 1fr) rem(248px);
    align-items: end;
  }

  @include media-breakpoint-up(lg) {
    grid-template-columns: minmax(0, 1fr) rem(264px);
  }

  @include media-breakpoint-up(xl) {
    grid-template-columns: minmax(0, 1fr) rem(320px);
  }
}
