@import 'weplay-core/styles/_initialization.scss';
@import 'weplay-core/styles/v-2-0/_init.scss';

.breadcrumbs {
  @include make-spacer(pb, 2);
  @include make-spacer(pb, 3, md);
  @include make-spacer(pb, 4, lg);

  position: relative;
  z-index: 1;
}

.list {
  @include flex(flex-start, stretch, row, wrap);
  @include make-spacer(mb, 0);
  @include make-spacer(pl, 0);

  list-style: none;
}

