@import 'weplay-core/styles/_initialization.scss';

.message {
  @include font-size(12px, 16px);
  @include transition(opacity);

  opacity: 0;
  margin-top: rem(2px);
  min-height: rem(16px);
  color: var(--grey-500);

  &::before {
    content: attr(data-server-error);
  }
}

.block {

  &.hasError {

    .message {
      opacity: 1;
      color: var(--error);
    }
  }

  &.hasSuccess {

    .message {
      opacity: 1;
      color: var(--success);
    }
  }

  &.hasHint {

    .message {
      opacity: 1;
    }
  }
}

.header {
  @include flex(space-between, center);
  @include make-spacer(mb, half);
}

.label {
  @include font-size(12px);

  color: var(--royal-blue);
  font-weight: 500;

  &.isRequired {

    &::after {
      color: var(--error);
      content: '*';
    }
  }
}

.link {
  @extend %buttonReset;

  @include font-size(12px, 16px);

  color: var(--blue);
}
