@import 'weplay-core/styles/_initialization.scss';

.button {
  @include font-size(10px, 16px);
  @include make-spacer(p, 0);

  position: relative;
  flex: 1 0 auto;
  border: 0;
  background-color: transparent;
  height: rem(48px);
  text-align: center;
  color: var(--grey-500);

  &::before {
    @include transition(#{opacity, visibility});

    position: absolute;
    top: 0;
    left: -1px;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    box-shadow: 2px 2px 31px var(--royal-blue-alpha-016);
    background: var(--white);
    width: calc(100% + 2px);
    height: 100%;
    content: '';
  }

  &::after {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: var(--grey-300);
    width: 1px;
    height: rem(20px);
    content: '';

    @include media-breakpoint-up(sm) {
      height: rem(32px);
    }

    @include media-breakpoint-up(md) {
      height: rem(40px);
    }
  }

  &:first-child,
  &:first-child::before {
    border-radius: 1rem 0 0 1rem;

    @include media-breakpoint-up(sm) {
      border-radius: rem(40px) 0 0 rem(40px);
    }

    @include media-breakpoint-up(md) {
      border-radius: rem(56px) 0 0 rem(56px);
    }
  }

  &:last-child,
  &:last-child::before {
    border-radius: 0 1rem 1rem  0;

    @include media-breakpoint-up(sm) {
      border-radius: 0 rem(40px) rem(40px) 0;
    }

    @include media-breakpoint-up(md) {
      border-radius: 0 rem(56px) rem(56px) 0;
    }
  }

  &:last-child::after {
    content: none;
  }

  @include media-breakpoint-up(sm) {
    @include font-size(14px, 24px);
  }

  @include media-breakpoint-up(md) {
    @include font-size(20px, 32px);

    height: rem(56px);
  }

  &.isActive {
    background-color: var(--white);
    color: var(--royal-blue);
    font-weight: 500;

    &::before {
      visibility: visible;
      opacity: 1;
    }
  }
}

.text {
  display: block;
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
