@import 'weplay-core/styles/_initialization.scss';

.block {
  @include flex(center, center, column);
  @include make-spacer(px, 2);
  @include make-spacer(py, 6);
  @include make-spacer(mt, 4);

  border: rem(1px) solid var(--grey-200);
  border-radius: rem(8px);
}

.title {
  @include font-size(16px, 24px);
  @include make-spacer(pt, 3);
  @include make-spacer(mb, 0);

  font-weight: var(--wp-font-weight-regular);
}
