@import 'weplay-core/styles/_initialization.scss';

.block {
  @include make-spacer(py, 3);
  @include make-spacer(py, 8, sm);
  @include make-spacer(pb, 12, md);
}

.title {
  @include font-size(32px, 40px);
  @include make-spacer(mb, 2);
  @include make-spacer(mb, 3, sm);

  color: var(--royal-blue);

  @include media-breakpoint-up(sm) {
    @include font-size(48px, 60px);
  }
}

.switcher {
  @include make-spacer(mt, 9);
  @include make-spacer(mb, 6);
  @include font-size(14px, 22px);

  display: grid;
  grid-template-columns: 1fr rem(48px) 1fr;
  grid-column-gap: rem(16px);
  align-items: center;

  @include media-breakpoint-up(sm) {
    @include font-size(16px, 24px);
  }
}
