@import 'weplay-core/styles/_initialization.scss';
@import 'weplay-core/styles/v-2-0/_init.scss';

.block {
  @include make-spacer(mb, 3);
  @include flex(flex-start, flex-start, column, wrap);

  display: block;

  &:last-child {
    @include make-spacer(mb, 0);
  }
}

.list {
  @include reset-list;

  display: grid;
  grid-template-columns: 1fr;

  @include media-breakpoint-up(sm) {
    grid-template-columns: repeat(auto-fill, minmax(184px, 1fr));
  }

  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }
}
