@import 'weplay-core/styles/_initialization.scss';

.block {
  @include make-spacer(pt, 5);
  @include make-spacer(pt, 6, sm);
  @include make-spacer(pb, 2, sm);
}

.title {
  @include font-size(28px, 32px);
  @include make-spacer(mb, 1);

  text-align: center;
  font-weight: 700;
}

.section {
  @include flex(center, center);
  @include make-spacer(mb, 2);
}

.icon {
  @include make-spacer(mr, 1);

  color: var(--error);
}

.subtitle {
  @include font-size(18px, 24px);

  text-align: center;

  @include media-breakpoint-up(sm) {
    @include font-size(18px, 32px);
  }
}

.text {
  @include font-size(14px, 24px);
  @include make-spacer(px, 3, sm);
  @include make-spacer(mb, 3);

  text-align: center;
  color: var(--grey-500);

  @include media-breakpoint-up(sm) {
    @include font-size(16px, 24px);
  }
}

.button {
  width: 100%;
}

