@import 'weplay-core/styles/_initialization.scss';

.backgroundUrl {
  --hero-main-bg-offset-bottom: #{rem(16px)};

  position: absolute;
  top: -0.7rem;
  left: -1%;
  z-index: 0;
  background-position: 50% 50%;
  background-size: cover;
  width: 102%;
  height: calc(100% + var(--hero-main-bg-offset-bottom));

  &.backgroundUrlSecond {
    left: -2%;
    width: 104%;
  }
}

.wrapParallaxElem {
  --hero-main-bg-offset-bottom: #{rem(56px)};

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: calc(100% + var(--hero-main-bg-offset-bottom));
  overflow: hidden;
}

.parallaxElemHeight {
  height: calc(100% + var(--hero-main-bg-offset-bottom));
}

.element {
  @include size(100%);
}

.leftTopElement {

  img {
    display: none;
    bottom: 21%;
    left: 5rem;

    @include media-breakpoint-up(sm) {
      display: block;
      left: -5rem;
    }

    @include media-breakpoint-up(md) {
      left: 3rem;
    }

    @include media-breakpoint-up(lg) {
      left: 5rem;
    }
  }
}

.rightCenterElement {

  img {
    display: none;
    right: 10rem;
    bottom: 45%;

    @include media-breakpoint-up(sm) {
      display: block;
      right: -2rem;
    }

    @include media-breakpoint-up(md) {
      right: 10rem;
    }

    @include media-breakpoint-up(lg) {
      right: 10rem;
    }
  }
}

.rightBottomElement {

  img {
    display: none;
    right: -3rem;
    bottom: -3rem;
    width: rem(240px);

    @include media-breakpoint-up(sm) {
      display: block;
      right: -5rem;
      bottom: -0.9rem;
    }

    @include media-breakpoint-up(md) {
      right: 0;
      width: rem(370px);
    }

    @include media-breakpoint-up(lg) {
      right: 1rem;
      width: rem(400px);
    }
  }
}

.leftTopElem {
  position: absolute;
  z-index: 0;
  width: rem(220px);

  @include media-breakpoint-up(md) {
    width: rem(280px);
  }

  @include media-breakpoint-up(lg) {
    width: rem(320px);
  }
}

.rightBottomElem {
  position: absolute;
  z-index: 0;
  width: rem(220px);

  @include media-breakpoint-up(md) {
    width: rem(280px);
  }

  @include media-breakpoint-up(lg) {
    width: rem(320px);
  }
}

.rightCenterElem {
  position: absolute;
  z-index: 0;
  width: rem(80px);

  @include media-breakpoint-up(md) {
    width: rem(105px);
  }

  @include media-breakpoint-up(lg) {
    width: rem(112px);
  }
}
