@import 'weplay-core/styles/_initialization.scss';

// Non-compiled files

@import 'weplay-core/styles/v-2-0/_init.scss';

// /====================================

.block {
  @include flex($direction: column);

  width: 100%;

  @include media-breakpoint-up(sm) {
    flex-direction: row-reverse;
    max-width: 100%;
  }

  @include media-breakpoint-up(md) {
    @include size(100%);

    flex-direction: column-reverse;
  }

  &.isStreamPlayerVisible {
    --streamPlayer-height: #{rem(176px)};

    height: calc(100% - var(--streamPlayer-height));

    @include media-breakpoint-up(xl) {
      --streamPlayer-height: #{rem(248px)};
    }
  }
}

.calendarLink {
  @include flex(center, center);
  @include make-spacer(p, 2);

  background-color: var(--magenta);
  cursor: pointer;
  width: 100%;

  &:hover {
    text-decoration: none;
  }

  @include media-breakpoint-only(sm) {
    flex: 0 0 rem(136px);
    flex-direction: column;
    align-items: flex-start;
  }
}

.cards {
  @include size(100%);

  @include media-breakpoint-only(sm) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.icon {
  @include make-spacer(mb, 1, sm);
  @include make-spacer(mb, 0, md);
  @include make-spacer(mr, 2);
  @include font-size(16px);

  fill: var(--white);
}

.linkText {
  @include word-break;
  @include font-size(12px, 16px);

  text-transform: uppercase;
  color: var(--white);
  font-weight: 700;

  &:hover {
    text-decoration: none;
  }

  @include media-breakpoint-up(md) {
    @include font-size(14px);
  }
}
