@import 'weplay-core/styles/_initialization.scss';
@import '../../variables';

.header {
  @include score-box-table;
  @include make-spacer(mb, 3);
}

.cell {
  @include flex(center);

  &.first {
    @include flex(flex-start);

    .icon {
      position: relative;
      bottom: rem(2px);
    }
  }
}

.icon {
  @include size(rem(24px));

  color: var(--grey-500);
  fill: var(--grey-500);
}

.title {
  @include font-size(16px, 24px);
  @include make-spacer(ml, 1);

  font-weight: 700;
}
