@import 'weplay-core/styles/_initialization.scss';
@import 'weplay-core/styles/v-2-0/_init.scss';

.item {
  @include size(auto, rem(160px));

  position: relative;
  margin-right: rem(-1px);
  margin-bottom: rem(-1px);
  border: 1px solid var(--grey-200);
  border-radius: 0;
  background-color: transparent;
}

.title {
  @include font-size(12px, 18px);

  position: absolute;
  top: rem(16px);
  left: rem(16px);
  text-transform: capitalize;
  color: var(--grey-400);
}

.link {
  @include make-spacer(p, 2);
  @include flex(center, center);
  @include size(100%);
}

.img {
  max-width: rem(160px);
  max-height: 100%;
  object-fit: contain;
}
