@import 'weplay-core/styles/_initialization.scss';
@import 'weplay-core/styles/v-2-0/_init.scss';

.block {
  @include box-shadow;
  @include make-spacer(px, 2);
  @include transition(#{opacity, visibility, transform}, 0.16s);

  display: block;
  position: absolute;
  top: 100%;
  right: rem(8px);
  transform: translateY(8px);
  visibility: hidden;
  opacity: 0;
  z-index: $z-11;
  margin-top: rem(10px);
  border-radius: rem(2px);
  background-color: var(--grey-100);
  padding-top: rem(15px);
  max-width: rem(300px);
  white-space: nowrap;

  &.isOpen {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }
}

.list {
  @include reset-list;
  @include make-spacer(py, 1);

  border-bottom: 1px solid var(--grey-300);

  &:last-child {
    border-bottom: 0;
  }
}

.link {
  @include make-spacer(py, 1);
  @include font-size(12px, 18px);

  display: inline-block;
  text-transform: uppercase;
  white-space: nowrap;
  color: var(--grey-500);

  &:hover {
    text-decoration: none;
    color: var(--blue);
  }
}
