@import 'weplay-core/styles/_initialization.scss';
@import 'weplay-core/styles/v-2-0/_init.scss';

.tooltip {
  position: absolute;
  top: 52px;
  left: 0;
  z-index: 1;

  @include media-breakpoint-up(sm) {
    top: -20px;
    left: 40%;
  }

  @include media-breakpoint-up(md) {
    top: -66px;
  }
}
