@import 'weplay-core/styles/_initialization.scss';

// An example how to structure `SCSS` inside selector
// Follow this structure and safe your life

// Declarations order list
// 1. Variables must be at the top of selector
// 2. Mixin declaration WITHOUT arguments
// 3. Mixin declaration WITH arguments
// 4. Regular properties
// 5. Pseudo elements `::before`, `::after`
// 6. Pseudo classes `:hover`, `:active`, `:focus`, etc.
// 7. Selector media queries
// 8. State classes
// 9. Modifiers

.example {
  $length: 50%; // 1

  @include transition; // 2
  @include size($length); // 3

  display: block; // 4
  overflow: hidden;

  &::before { // 5
    content: '';
  }

  &:hover { // 6
    color: var(--youtube);
  }

  @include media-breakpoint-up(lg) { // 7
    color: #30009d;
  }

  &.isActive { // 8
    color: #0bccee;
  }

  &.modifier { // 9
    color: #ff8f8f;
  }
}
