@import 'weplay-core/styles/_initialization.scss';

.select {
  @include make-spacer(pl, 2);
  @include make-spacer(pr, 5);
  @include font-size(14px, 24px);

  position: relative;
  border: 1px solid var(--grey-300);
  border-radius: 8px;
  background-color: var(--white);
  cursor: pointer;
  width: 100%;
  height: rem(40px);
  text-align: left;
  color: var(--grey-500);
}

.option {
  @include flex;
  @include make-spacer(pl, 2);

  position: relative;
  cursor: pointer;

  &.isActive {

    .value {
      color: var(--blue);
    }
  }
}
