@import 'weplay-core/styles/_initialization.scss';

.game {
  border: 1px solid var(--grey-200);
  border-radius: rem(4px);
}

.gameHeader {
  @include make-spacer(mx, 2);
  @include make-spacer(mt, 2);
  @include make-spacer(mb, 5);
  @include flex(flex-start, center);
}

.gameTitle {
  @include make-spacer(ml, 2);
  @include make-spacer(mb, 0);
  @include font-size(20px, 28px);

  font-weight: var(--wp-font-weight-bold);
}

.body {

  tr:nth-child( even ) {
    background-color: var(--grey-100);
  }
}

.headerWrapper {
  @include flex(flex-start, center);
}

.gameTable {
  @include make-spacer(mb, 3);
  @include make-spacer(mr, 1);
}

.header {

  .cell {
    @include font-size(12px, 20px);
    @include make-spacer(py, 1);
  }
}

.item {
  @include make-spacer(py, 0);
}

.right {
  text-align: right;
}

.positive {
  color: var(--success);
}

.negative {
  color: var(--error);
}
