@import 'weplay-core/styles/_initialization.scss';
@import 'weplay-core/styles/v-2-0/_init.scss';

.block {
  @include make-spacer(mt, 2);
  @include make-spacer(mx, auto);
  @include make-spacer(p, 3);
  @include box-shadow;

  position: absolute;
  z-index: 1;
  border-radius: rem(4px);
  background-color: var(--white);
  width: 100%;

  &::before {
    @include make-spacer(mx, auto);
    @include size(rem(16px), auto);

    position: absolute;
    top: rem(-8px);
    right: 0;
    left: rem(-32px);
    border-right: rem(8px) solid transparent;
    border-bottom: rem(8px) solid var(--white);
    border-left: rem(8px) solid transparent;
    content: '';
  }

  @include media-breakpoint-up(sm) {
    left: 0;
    width: rem(304px);
  }
}

.title {
  @include make-spacer(mb, 1);
  @include font-size(16px, 24px);

  font-weight: var(--wp-font-weight-regular);
}

.text {
  @include make-spacer(mb, 2);
  @include font-size(14px, 22px);

  color: var(--grey-500);
  font-weight: var(--wp-font-weight-normal);
}

.wrap {
  @include make-spacer(mt, 3);
  @include flex(flex-end);
}

.share {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(rem(24px), 1fr));
  align-items: center;
}
