@import 'weplay-core/styles/_initialization.scss';
@import 'weplay-core/styles/v-2-0/_init.scss';

.block {
  @include media-breakpoint-up(md) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: rem(48px);
  }
}

.imgBlock {
  position: relative;
  padding-top: 56.25%;
  width: 100%;
  overflow: hidden;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
}
