@import 'weplay-core/styles/_initialization.scss';
@import 'weplay-core/styles/v-2-0/_init.scss';

.block {
  width: 100%;

  @include media-breakpoint-up(md) {
    width: rem(590px);
  }

  &.author {

    .nick,
    .name {
      color: var(--white);
    }

    .label {
      background-color: var(--blue-alpha-024);
      color: var(--blue);
    }

    .info {
      border-color: var(--dark-grey);
    }
  }
}

.wrapper {
  width: 100%;
}

.avatar {
  @include make-spacer(mr, 2);
  @include make-spacer(mb, 2);
  @include make-spacer(mb, 0, sm);
}

.info {
  @include  make-spacer(mb, 3);
  @include  make-spacer(pb, 2);
  @include  make-spacer(pb, 3, md);

  border-bottom: 1px solid var(--grey-200);
  width: 100%;

  @include media-breakpoint-up(sm) {
    @include flex($align-items: center);
  }
}

.label {
  @include font-size(12px, 12px);
  @include make-spacer(mb, 1);
  @include make-spacer(mb, 0, sm);
  @include make-spacer(px, 1);
  @include make-spacer(py, half);

  display: inline-block;
  border-radius: rem(2px);
  background-color: var(--magenta-alpha-024);
  color: var(--magenta);
}

.nick {
  @include font-size(24px, 32px);
  @include make-spacer(mb, 1);

  font-weight: var(--wp-font-weight-bold);
}

.name {
  @include font-size(16px, 24px);
  @include make-spacer(mb, 1);
  @include make-spacer(mb, 2, sm);
}

.socialWrapper {
  @include media-breakpoint-up(sm) {
    @include flex(space-between, center);
  }
}

.socials > * {
  @include make-spacer(mr, 2);

  &:last-child {
    @include make-spacer(mr, 0);
  }
}

.text {
  @include font-size(14px, 22px);

  color: var(--grey-500);

  @include media-breakpoint-up(sm) {
    @include font-size(16px, 24px);
  }
}
