@import 'weplay-core/styles/_initialization.scss';

.body {
  @include font-size(12px, 16px);

  display: block;
  color: var(--white);
}

.wrapper {
  @include make-spacer(p, 1);

  border-radius: 0.5rem;
  background-color: var(--grey-300);
  width: 100%;
  text-align: center;

  &.error {
    background-color: var(--error);
  }

  &.success {
    background-color: var(--success);
  }
}
