@import 'weplay-core/styles/_initialization.scss';

.block {
  @include make-spacer(mr, 2);

  &:last-child {
    @include make-spacer(mr, 0);
  }

  &.specialTag {

    .link {
      color: var(--magenta);
    }
  }
}

.link {
  @include make-spacer(px, 0);
  @include font-size(12px, 18px);

  border: 0;
  text-transform: uppercase;
  white-space: nowrap;
  color: var(--blue);
  font-weight: 400;

  &::before {
    content: '#';
  }

  &:hover {
    text-decoration: underline;
  }
}
