@import 'weplay-core/styles/_initialization.scss';
@import 'weplay-core/styles/v-2-0/_init.scss';

.block {
  @include make-spacer(p, 3);
  @include make-spacer(p, 6, md);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: var(--white);

  @include media-breakpoint-up(md) {
    @include flex(space-between, center, row-reverse);

    text-align: left;
  }
}

.image {
  @include size(rem(96px), auto);
  @include make-spacer(mx, auto);
  @include make-spacer(mx, 0, md);
  @include make-spacer(mb, 3);
  @include make-spacer(mb, 0, md);

  @include media-breakpoint-up(md) {
    @include size(auto);
  }
}

.content {
  @include make-spacer(mr, 0);
  @include make-spacer(mr, 6, md);
}

.title {
  @include font-size(32px, 40px);
  @include make-spacer(mb, 3);
  @include make-spacer(mb, 2, sm);

  @include media-breakpoint-up(md) {
    @include font-size(48px, 64px);
  }
}

.text {
  @include font-size(12px, 18px);
  @include make-spacer(mb, 2);
  @include make-spacer(mb, 3, md);

  display: none;

  @include media-breakpoint-up(sm) {
    display: block;
  }

  @include media-breakpoint-up(md) {
    @include font-size(16px, 24px);
  }
}

.button {
  @extend %button;
  @extend %buttonPink;

  font-weight: 500;

  @include media-breakpoint-up(sm) {
    height: rem(48px);
  }
}
