@import 'weplay-core/styles/_initialization.scss';
@import 'weplay-core/styles/v-2-0/_init.scss';

.button {
  @include make-spacer(mx, auto);
  @include make-spacer(mr, 3, sm);
  @include make-spacer(ml, 0, sm);
  @include make-spacer(mb, 4);
  @include make-spacer(mb, 0, sm);
  @include font-size(14px, 44px);

  display: block;
  width: 100%;
  max-width: rem(312px);
  font-weight: var(--wp-font-weight-regular);

  @include media-breakpoint-up(sm) {
    width: auto;
  }

  &.successButton {

    .icon {
      transform: rotate(90deg);
    }
  }
}
