@import 'weplay-core/styles/_initialization.scss';

.block {
  position: relative;
  z-index: 0;
  background-color: var(--royal-blue);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: rem(380px);

  &::after {
    @include size(100%, 50%);
    @include gradient-y(transparent, #{var(--royal-blue)});

    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: '';
  }
}
