/* ==========================================================================
   #FLEX UTILITIES
   ========================================================================== */

// sass-lint:disable no-important

//
// Table of content:
//
// 1. Flex display
// 2. Justify content
// 3. Align items
// 4. Align self
// 5. Flex wrap
//

//
// 1. Flex display
//

.u-flex {
  display: flex !important; /* stylelint-disable-line declaration-no-important */
}

@include media-breakpoint-up(sm) {

  .u-flex-md {
    display: flex !important; /* stylelint-disable-line declaration-no-important */
  }
}

@include media-breakpoint-up(md) {

  .u-flex-lg {
    display: flex !important; /* stylelint-disable-line declaration-no-important */
  }
}

@include media-breakpoint-up(lg) {

  .u-flex-xl {
    display: flex !important; /* stylelint-disable-line declaration-no-important */
  }
}

.u-inline-flex {
  display: inline-flex !important; /* stylelint-disable-line declaration-no-important */
}

//
// 2. Justify content
//

.u-justify-start {
  justify-content: flex-start !important; /* stylelint-disable-line declaration-no-important */
}

.u-justify-end {
  justify-content: flex-end !important; /* stylelint-disable-line declaration-no-important */
}

.u-justify-center {
  justify-content: center !important; /* stylelint-disable-line declaration-no-important */
}

.u-justify-between {
  justify-content: space-between !important; /* stylelint-disable-line declaration-no-important */
}

.u-justify-around {
  justify-content: space-around !important; /* stylelint-disable-line declaration-no-important */
}

//
// 3. Align items
//

.u-align-items-start {
  align-items: flex-start !important; /* stylelint-disable-line declaration-no-important */
}

.u-align-items-end {
  align-items: flex-end !important; /* stylelint-disable-line declaration-no-important */
}

.u-align-items-center {
  align-items: center !important; /* stylelint-disable-line declaration-no-important */
}

.u-align-items-baseline {
  align-items: baseline !important; /* stylelint-disable-line declaration-no-important */
}

.u-align-items-stretch {
  align-items: stretch !important; /* stylelint-disable-line declaration-no-important */
}

//
// 4. Align self
//

.u-align-self-start {
  align-self: flex-start !important; /* stylelint-disable-line declaration-no-important */
}

.u-align-self-end {
  align-self: flex-end !important; /* stylelint-disable-line declaration-no-important */
}

.u-align-self-center {
  align-self: center !important; /* stylelint-disable-line declaration-no-important */
}

.u-align-self-baseline {
  align-self: baseline !important; /* stylelint-disable-line declaration-no-important */
}

.u-align-self-stretch {
  align-self: stretch !important; /* stylelint-disable-line declaration-no-important */
}

//
// 5. Flex wrap
//

.u-flex-wrap {
  flex-wrap: wrap !important; /* stylelint-disable-line declaration-no-important */
}

.u-flex-nowrap {
  flex-wrap: nowrap !important; /* stylelint-disable-line declaration-no-important */
}

//
// 6. Flex direction
//

.u-flex-column {
  flex-direction: column !important; /* stylelint-disable-line declaration-no-important */
}

.u-flex-row {
  flex-direction: row !important; /* stylelint-disable-line declaration-no-important */
}

.u-flex-column-reverse {
  flex-direction: column-reverse !important; /* stylelint-disable-line declaration-no-important */
}

.u-flex-row-reverse {
  flex-direction: row-reverse !important; /* stylelint-disable-line declaration-no-important */
}

/* ==========================================================================
   #BLOCK UTILITIES
   ========================================================================== */

//
// Table of content:
//
// 1. block display
//

.u-block {
  display: block !important; /* stylelint-disable-line declaration-no-important */
}

/* ==========================================================================
   #INLINE-BLOCK UTILITIES
   ========================================================================== */

//
// Table of content:
//
// 1. inline-block display
//

.u-inline-block {
  display: inline-block !important; /* stylelint-disable-line declaration-no-important */
}

.u-vertical-align-center {
  vertical-align: center !important; /* stylelint-disable-line declaration-no-important */
}

.u-vertical-align-top {
  vertical-align: top !important; /* stylelint-disable-line declaration-no-important */
}

.u-vertical-align-bottom {
  vertical-align: bottom !important; /* stylelint-disable-line declaration-no-important */
}

/* ==========================================================================
   #DISPLAY: NONE
   ========================================================================== */

.u-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

@include media-breakpoint-down(xs) {

  .u-hidden-sm {
    display: none !important; /* stylelint-disable-line declaration-no-important */
  }
}

@include media-breakpoint-down(sm) {

  .u-hidden-md {
    display: none !important; /* stylelint-disable-line declaration-no-important */
  }
}

@include media-breakpoint-down(md) {

  .u-hidden-lg {
    display: none !important; /* stylelint-disable-line declaration-no-important */
  }
}

/* ==========================================================================
#ORDERS
========================================================================== */

@for $i from 1 to 20 {

  .u-order-#{$i} {
    order: $i !important; /* stylelint-disable-line declaration-no-important */
  }
}
