@import 'weplay-core/styles/_initialization.scss';

:global {

  .c-code-data {
    width: 100%;
    text-align: center;
    color: var(--white);

    &__subtitle {
      @include make-spacer(mb, 1);

      text-transform: uppercase;
      line-height: 1.77;
      font-size: rem(18px);
      font-weight: 500;

      @include media-breakpoint-up(sm) {
        line-height: 1.81;
        font-size: rem(22px);
        font-weight: 700;
      }
    }

    &__title {
      @include make-spacer(mb, 4);

      line-height: 1.2;
      font-size: rem(39px);
      font-weight: 500;

      @include media-breakpoint-up(sm) {
        line-height: normal;
        font-size: rem(56px);
      }
    }

    &__form {
      margin-right: auto;
      margin-left: auto;

      @include media-breakpoint-up(sm) {
        max-width: rem(654px);
      }

      &-wrapper {
        @include flex();

        height: rem(62px);
      }
    }

    &__input {
      border-radius: 0.5rem 0 0 0.5rem;
      width: 100%;
      height: 100%;
      font-size: rem(18px);

      &::placeholder {
        font-size: rem(18px);
      }
    }

    &__btn {
      flex: 0 0 rem(94px);
      border-radius: 0 0.5rem 0.5rem 0;
      min-width: inherit;
      max-width: rem(94px);
      height: 100%;

      &::after {
        border-radius: 0 0.5rem 0.5rem 0;
      }

      @include media-breakpoint-up(sm) {
        flex: 0 0 rem(134px);
        min-width: rem(134px);
      }
    }

    &__message {
      @include transition(opacity);

      display: block;
      opacity: 0;
      margin-top: rem(2px);
      min-height: rem(14px);
      text-align: left;
      line-height: 1.33;
      color: var(--grey-500);
      font-size: rem(12px);

      &.has-error {
        opacity: 1;
        color: var(--error);
      }
    }

    &__bottom {
      @include flex(flex-start, flex-end);

      min-height: 8rem;
    }

    &__decor {
      display: none;
      position: absolute;
      top: 0;
      right: rem(86px);
      z-index: 2;

      @include media-breakpoint-up(sm) {
        display: block;
        max-width: rem(200px);
      }
    }

    &__label {
      @include size(rem(130px));

      position: absolute;
      right: 0;
      bottom: 0;

      &-text {
        @include make-spacer(py, 2);
        @include make-spacer(px, 7);

        display: block;
        position: absolute;
        top: rem(24px);
        left: rem(60px);
        transform: rotateZ(-45deg);
        background-color: var(--error);
        width: rem(200px);
        height: rem(270px);
        line-height: 1.41;
        color: inherit;
        font-size: rem(12px);
        font-weight: 500;

        &:hover {
          text-decoration: none;
        }
      }
    }

    &__nav {
      position: relative;
      flex: 0 0 rem(200px);
      z-index: 1;
      max-width: rem(200px);
      text-align: left;
      line-height: 1.33;
      font-size: rem(12px);
      font-weight: 500;

      @include media-breakpoint-up(sm) {
        flex: 0 0 rem(300px);
        max-width: rem(300px);
      }

      @include media-breakpoint-up(md) {
        flex: 0 0 auto;
        max-width: 100%;
      }

      &-link {
        @include make-spacer(mr, 2);
        @include make-spacer(mr, 3, sm);
        @include make-spacer(mr, 4, md);
        @include make-spacer(mb, 1);

        display: inline-block;
        color: var(--white);

        &:last-child {
          @include make-spacer(mr, 0);
        }
      }
    }
  }
}
