@import 'weplay-core/styles/_initialization.scss';

.left,
.right {
  width: 100%;

  @include media-breakpoint-up(sm) {
    width: auto;
  }
}

.left {
  @include make-spacer(mb, 2);
  @include make-spacer(mb, 0, sm);
  @include make-spacer(mr, 2, sm);
}

.header {
  @include make-spacer(mb, 3);

  width: 100%;
}

.block {
  width: 100%;
}
