@import 'weplay-core/styles/_initialization.scss';

.member {
  @include make-spacer(p, 2);

  border: rem(1px) solid var(--grey-300);
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px var(--royal-blue-alpha-016);
  min-height: rem(80px);

  @include media-breakpoint-up(sm) {
    display: grid;
    grid-template-rows: rem(40px);
    grid-template-columns: 1fr 1fr;
    grid-row-gap: rem(16px);
  }

  @include media-breakpoint-up(md) {
    @include flex(space-between, center);
  }
}

.item {
  @include make-spacer(mb, 2);
  @include make-spacer(mb, 0, sm);
  @include make-spacer(px, 2, sm);

  @include media-breakpoint-up(sm) {
    align-self: center;
    min-width: rem(200px);
  }
}

.block {
  width: 50%;
}

.isStatus {
  @include media-breakpoint-up(md) {
    flex: 0 0 rem(200px);
    width: rem(200px);
  }
}

.preview {
  @include make-spacer(mx, auto);
  @include make-spacer(mb, 2);
  @include make-spacer(mb, 0, sm);
  @include make-spacer(mr, 2, sm);
  @include make-spacer(ml, 0, sm);
}

.name {
  @include make-spacer(mb, 1);
  @include make-spacer(mb, 0, sm);
  @include font-size(16px, 24px);
  @include word-break;

  text-align: center;
  color: var(--royal-blue);
  font-weight: 700;

  @include media-breakpoint-up(sm) {
    text-align: left;
  }
}

.user {

  &:hover {
    text-decoration: none;
  }

  @include media-breakpoint-up(sm) {
    @include flex(flex-start, center);

    flex: 1;
  }

  @include media-breakpoint-up(md) {
    min-width: 12rem;
  }
}

.role {
  @include make-spacer(pl, 0);
  @include make-spacer(pl, 2, sm);
}

.label {
  @include font-size(12px, 16px);
  @include make-spacer(mb, 1);

  color: var(--grey-500);
}

.status {
  @include make-spacer(mb, 0);
  @include font-size(14px);

  font-weight: var(--wp-font-weight-regular);
}

.dropdown {
  width: 100%;

  @include media-breakpoint-up(sm) {
    width: rem(200px);
  }
}

.banned {
  @include font-size(12px, 16px);

  display: block;
  color: var(--error);
  font-weight: 400;
}

.icon {
  color: var(--black);
}

.wide {
  width: 100%;

  @include media-breakpoint-up(sm) {
    width: auto;
  }
}
