@import 'weplay-core/styles/_initialization.scss';
@import 'weplay-core/styles/v-2-0/_init.scss';

.block {
  display: grid;
  position: relative;
  grid-template-columns: rem(136px) 1fr;
  align-items: center;

  @include media-breakpoint-up(sm) {
    grid-template-columns: rem(268px) 1fr;
  }
}
