@import 'weplay-core/styles/_initialization.scss';

.block {
  @include make-spacer(mb, 3);
  @include make-spacer(mb, 6, sm);

  text-align: center;

  &.left {
    text-align: left;
  }
}

.tweet {
  display: inline-block;
  max-width: 100%;
}

