@import 'weplay-core/styles/_initialization.scss';

$box-shadow: inset 1px 1px 8px var(--black-alpha-008);

@mixin range-thumb {
  @include box-shadow;
  @include size(rem(16px));

  appearance: none;
  position: relative;
  top: -1px;
  border: 0;
  border-radius: 50%;
  background-color: var(--white);
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 6px var(--blue);
  }
}

@mixin range-track() {
  box-shadow: $box-shadow;
  background-color: var(--grey-200);
}

.block {
  @include make-spacer(pt, 3);
  @include make-spacer(pb, 1);
}

.cropper {
  --cropper-size: #{rem(256px)};

  @include size(var(--cropper-size));
  @include make-spacer(mx, auto);

  position: relative;
  overflow: hidden;

  @include media-breakpoint-up(sm) {
    --cropper-size: #{rem(320px)};
  }
}

.title {
  @include font-size(22px, 32px);

  text-align: center;
  font-weight: 500;
}

.close {
  @include flex(center, center);
  @include size(16px);
  @include make-spacer(p, 0);
  @include transition(transform);

  position: absolute;
  top: 1rem;
  right: 1rem;
  transform-origin: 50% 50%;
  outline: none;
  border: 0;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    transform: rotate(90deg);
  }
}

.icon {

  &:hover {
    fill: var(--blue);
  }
}

.rangeWrapper {
  @include flex(center, center);
  @include make-spacer(px, 3);
  @include make-spacer(mt, 2);
}

.square {
  @include make-spacer(mr, 1);

  display: block;
  border: 1px solid var(--grey-500-alpha-064);
  border-radius: 2px;
  box-shadow: $box-shadow;
  background: var(--grey-100);
  width: rem(11px);
  height: rem(8px);

  &.big {
    @include make-spacer(ml, 1);
    @include make-spacer(mr, 0);

    width: rem(16px);
    height: rem(12px);
  }
}

.range {
  @include range-track;

  border-radius: 1rem;
  width: 100%;
  height: 8px;

  &::-moz-range-track {
    @include range-track;
  }

  &::-ms-track {
    @include range-track;
  }

  &::-moz-range-thumb {
    @include range-thumb;
  }

  &::-webkit-slider-thumb {
    @include range-thumb;
  }

  &::-ms-thumb {
    @include range-thumb;
  }
}

.buttonBlock {
  @include flex(center, center, column);
  @include make-spacer(mt, 3);
}

.button {
  width: 100%;
}

.removeButton {
  @extend %buttonLink;

  @include make-spacer(mt, 1);
  @include make-spacer(p, 0);
  @include font-size(12px, 16px);

  font-weight: 500;
}
