@import 'weplay-core/styles/_initialization.scss';
@import 'weplay-core/styles/v-2-0/_init.scss';

.block {
  display: grid;
  position: relative;
  color: var(--grey-300);

  &:first-child {

    .player {
      flex-direction: row-reverse;
    }

    .wrapText {
      justify-content: flex-end;
      direction: rtl;
      text-align: right;
    }

    .countryImg {
      @include make-spacer(ml, 1);
      @include make-spacer(mr, 0);
    }
  }

  @include media-breakpoint-up(sm) {
    @include flex(space-between, center);

    &:last-child {
      flex-direction: row-reverse;
    }
  }
}

.user {
  @include flex(flex-start, center);

  position: relative;
  flex: 1 1 50%;
}

.name {
  @include word-break;
  @include font-size(12px, 16px);
  @include transition(color);

  flex: 0 0 6.5rem;
  max-width: 6.5rem;
  max-height: rem(30px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  color: var(--grey-300);

  &.isActive {
    color: var(--grey-500);
  }
}

.score {
  @include font-size(24px, 32px);
  @include flex(center, center);

  position: relative;
  min-width: rem(28px);
  color: var(--royal-blue);
  font-weight: var(--wp-font-weight-bold);

  &.isWinner {
    color: var(--warning);
  }
}
