@import 'weplay-core/styles/_initialization.scss';
@import 'weplay-core/styles/v-2-0/_init.scss';

.item {
  @include size(auto, rem(188px));
  @include make-spacer(p, 2);
  @include flex();

  position: relative;
  flex-direction: column;
  margin-right: rem(-1px);
  margin-bottom: rem(-1px);
  border: 1px solid var(--grey-200);
  border-radius: 0;
  background-color: transparent;
}

.name {
  @include font-size(16px, 24px);
  @include make-spacer(mb, 0);

  flex-shrink: 0;
  color: var(--grey-500);
}

.link {
  @include flex();
  @include size(100%);

  flex-direction: column;
}

.imgWrap {
  @include flex(center, center);
  @include size(100%);
}

.img {
  max-width: rem(160px);
  max-height: rem(100px);
  object-fit: contain;
}

.amount {
  @include font-size(20px, 28px);
  @include make-spacer(mb, 0);

  flex-shrink: 0;
  max-width: 250px;
  overflow: hidden;
  white-space: nowrap;
  color: var(--royal-blue);
  font-weight: var(--wp-font-weight-bold);
}
