// This modifier uses on events pages (Tug-Of-War, Valentine, etc.)

@mixin promo-mod {

  &.promo {
    @include make-spacer(px, 5, sm);
    @include make-spacer(px, 8, md);

    grid-column-gap: rem(144px);

    .form {
      @include media-breakpoint-up(sm) {
        max-width: rem(720px);
      }

      @include media-breakpoint-up(lg) {
        max-width: 100%;
      }
    }

    .contentBlock {
      @include make-spacer(mb, 4);
      @include make-spacer(mb, 3, md);
      @include make-spacer(mb, 0, lg);
    }

    @include media-breakpoint-up(lg) {
      grid-template-columns: rem(544px) 1fr;
    }
  }
}
