@import 'weplay-core/styles/_initialization.scss';
@import 'weplay-core/styles/v-2-0/_init.scss';

.block {
  @include size(auto, rem(800px));

  position: relative;
  overflow: hidden;

  &::after {
    @include size(100%, rem(80px));
    @include gradient-y(rgba(255,255,255,0), #{var(--white)});

    display: block;
    position: absolute;
    bottom: rem(-16px);
    z-index: 0;
    content: '';
  }

  &.isOpened {
    @include size(auto);

    overflow: visible;

    &::after {
      content: none;
    }
  }
}

.title {
  @include make-spacer(mt, 5);
  @include make-spacer(mb, 3);
  @include font-size(16px, 24px);

  font-weight: var(--wp-font-weight-regular);
}

.item {
  display: grid;
}
