@import 'weplay-core/styles/_initialization.scss';

.grid {
  @include reset-list;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.item {
  @include font-size(16px, 24px);
  @include make-spacer(mb, 2);

  color: var(--grey-500);

  &.isSuccess {
    @include flex(flex-start, center);

    color: var(--success);
  }

  &.title {
    @include word-break;

    color: var(--black);
  }
}

.icon {
  @include make-spacer(mr, 1);
  @include font-size(10px, 16px);

  flex: 0 0 rem(24px);
  max-width: rem(24px);
}
