@import 'weplay-core/styles/_initialization.scss';

.block {
  position: relative;
  box-shadow: 1px 1px 4px var(--black-alpha-008);
  background-color: var(--white);
  height: var(--wp-submenu-height);
  white-space: nowrap;
}

.menuLine {
  @include flex(space-between, center);

  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
}

.menuWrapper {
  @include flex(flex-start, center);
  @include make-spacer(pl, 2);

  height: 100%;
}

.rightMenu {
  @include make-spacer(pr, 2);

  height: 100%;
}
